- @user = session[:user]

= partial('users/tabs')

- jquery do
  setTimeout(function(){$("#flash").fadeOut(1000)}, 1000);

.tab-group
  %p#flash
    %b Welcome:
    You are now logged in.
      
  %h2 Latest Messages
  
  #messages
    %ul
      %li.referral
        %b October 21, 2008:
        Your referee report for: "Newton vs. Leibniz: Cage Fight" is due in 5 days.
        = surround('(', ')') do 
          = link_to 'Details', ''
        
      %li.news
        %b October 21, 2008:
        Your paper, "Einstein was Wrong ", was just cited.
        = surround('(', ')') do 
          = link_to 'Details', ''

      %li.referral-new
        %b October 20, 2008:
        New referral
        = surround('(', ')') do 
          = link_to 'Details', ''

      %li.referee-report
        %b October 17, 2008:
        New referee report for your paper: "H<sub>2</sub>O is Delicious"
        = surround('(', ')') do 
          = link_to 'Details', ''

      %li.colleague
        %b October 14, 2008:
        Four new colleagues from your institution, "MIT", have registered.
        = surround('(', ')') do 
          = link_to 'Details', ''

      %li.membership
        %b October 1, 2008:
        Your membership expires in two months.
        = surround('(', ')') do 
          = link_to 'Details', ''
    %p.earlier
      = link_to "Earlier Messages", ''

  %br

  %h2
    Alerting
    = link_to '&nbsp;', '', :class => 'edit'

  #alerts
    %div.row
      %p.left
        %b October 20, 2008:
      %div.right
        %p
          = link_to 'Nature’s Microfluidic Transporter: Rotational Cytoplasmic Streaming at High Péclet Numbers'
          = surround('(', ')') do
            Saved Search
          %br
          Phys. Rev. Lett. 101, 178102
        %p
          = link_to 'Reexamination of the Power Spectrum in De Sitter Inflation'
          = surround('(', ')') do
            Saved Search
          %br
          Phys. Rev. Lett. 101, 171301
    %div.row
      %p.left
        %b October 13, 2008:
      %div.right
        %p
          = link_to 'Sonic Mach cones induced by fast partons in a perturbative quark-gluon plasma'
          = surround('(', ')') do
            Really Cool Stuff RSS Feed
          %br
          Phys. Rev. C 78, 041901
        %p
          = link_to 'Density functional study of FeS, FeSe, and FeTe: Electronic structure, magnetism, phonons, and superconductivity'
          = surround('(', ')') do
            Saved Search
          %br
          Phys. Rev. B 78, 134514
    %div.row
      %p.left
        %b October 1, 2008:
      %div.right
        %p
          = link_to 'Complex Networks Renormalization: Flows and Fixed Points'
          = surround('(', ')') do
            Saved Search
          %br
          Phys. Rev. Lett. 101, 148701
