%h1 Change your password
= error_messages_for(request.session.authentication, {:header => ""})

= form_for(@user, :action => url(:pwupdate) ) do
  .table
    .row
      %p.cell New password:
      %p.cell= password_field :password, :class => "formtext"
    .row
      %p.cell New password (again):
      %p.cell= password_field :password_confirmation, :class => "formtext"
    .row
      %p.cell= submit "Update", :class => "button"

